<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377470493692-bcnelceu0f3ld4ucj1u9qje051esh9jv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377470493692-bcnelceu0f3ld4ucj1u9qje051esh9jv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>377470493692-2e6kr27d4m3n056muejr12sq3l3cmpli.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvw7mIb1BYvByEc3jo_GFBocvQbOv2VyA</string>
	<key>GCM_SENDER_ID</key>
	<string>377470493692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fantasy.fslpro</string>
	<key>PROJECT_ID</key>
	<string>fslpro-a7ad8</string>
	<key>STORAGE_BUCKET</key>
	<string>fslpro-a7ad8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377470493692:ios:c3582d3e756a0418880879</string>
</dict>
</plist>